.musicOptions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 5px;
}

.optionsContainer {
    margin-top: 20px;
    padding: 2%;
}

.musicOptions {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 5px;
}

.musicOptions > p {
    margin-bottom: 5px;
}

.musicOptions > .musicCheck {
    margin-right: 50px;
    margin-bottom: 10px;

}

.toResults {
    text-decoration: none;
    color: #fff
}